.footer {
  background-color: var(--col-primary-900);
  color: var(--col-white);

  font-size: var(--fs-ui);

  .footer-title {
    font-weight: var(--fw-ui);
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--col-primary-400);
    margin-bottom: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  &__menu {
    list-style: none;
    padding-inline-start: 0;
    a {
      text-decoration: none;
      font-size: var(--fs-ui);
      color: var(--col-white);
      transition: color var(--transition);
      &:hover {
        color: var(--col-primary-400);
      }
    }
  }

  &__contact {
    font-size: var(--fs-ui);
    line-height: var(--lh-normal);
    a {
      text-decoration: none;
      color: var(--col-white);
      transition: color var(--transition);
      &:hover {
        color: var(--col-primary-400);
      }
    }
  }
  .social-icons {
    a {
      color: var(--col-white);
      text-decoration: none;
      font-weight: 600;
      transition: color var(--transition);
      &:hover {
        color: var(--col-primary-400);
      }
    }
  }
  .colophon {
    border-block-start: 1px solid var(--col-primary-400);
    margin-block-start: 2rem;
    padding-block-start: 1rem;
    font-size: var(--fs-ui);
    font-weight: var(--fw-meta);
    color: var(--col-white);
    > * {
      opacity: 0.6;
    }

    a {
      color: var(--col-white);
      text-decoration: none;
      transition: color var(--transition);
      &:hover {
        color: var(--col-primary-400);
      }
    }
  }

  .cb {
    content: url(../img/cb-mono.png);
    transition: opacity var(--transition);
    opacity: 0.2;
    &:hover {
        opacity: 0.8;
    }
}

}
